A {
  text-decoration: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

header {
  background-color: #eee;
  padding: 30px 0;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  padding-top: 80px !important;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.nav__menu > li {
  min-width: 100px;
  list-style-type: none;
}



