.container {
  max-width: 1160px;
  margin: 0 auto;
}

header {
  background-color: #eee;
  padding: 30px 0;
}
nav {
  display: flex;
  justify-content: space-between;
}

.nav__menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.nav__menu > li {
  min-width: 100px;
  list-style-type: none;
}

